:root {
  --main-color: #212121;
  --second-color: #757575;
  --hover-color: #2196f3;
  --white-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}

.section {
  padding: 94px 0;
}

/* HEADER */

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-color {
  color: var(--hover-color);
}

.portfolio-link,
.studio-link {
  color: var(--hover-color);
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--hover-color);
}

.current {
  color: var(--hover-color);
}

.header-contacts {
  margin-left: auto;
}

.header-contacts-mail {
  margin-right: 50px;
}

.contacts-link {
  display: inline-flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--hover-color);
}

.header-icon {
  display: block;
  fill: currentColor;
  margin-right: 10px;
}

.phone-icon {
  width: 10px;
  height: 16px;
}
.mail-icon {
  width: 16px;
  height: 12px;
}

/* HERO */

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-image.jpg);
  color: var(--white-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  text-align: center;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--hover-color);
  color: var(--white-color);
  cursor: pointer;
  border: none;
  letter-spacing: 0.06em;
  text-transform: inherit;
  border-radius: 4px;
  padding: 10px 32px;
  position: relative;
  align-items: center;
}

.hero-text-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.main-btn:focus,
.main-btn:hover {
  color: var(--white-color);
  background-color: var(--hover-color);
}

/* ADVANTAGES */

.advantages-list {
  display: flex;
}

.advantages-item {
  width: 270px;
}

.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-item-img {
  font-family: "Roboto", sans-serif;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin-bottom: 30px;
  border-radius: 4px;
}

.advantages-item-icon {
  width: 70px;
  height: 70px;
}

.advantages {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}

.advantages-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* DESCRIPTION */

.description {
  padding-top: 0;
}

.description-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.description-img-section {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

/* TEAM */

.team {
  background: #f5f4fa;
  padding-bottom: 94px;
}

.team-list-item {
  margin-left: 30px;
  margin-top: 50px;
  flex-basis: calc((100% - 120px) / 4);
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.team-section {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.team-names {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}

.team-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.team-social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding: 0 32px;
}

.team-social-links-item:not(:last-child) {
  margin-right: 10px;
}

.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
}

.team-link:hover,
.team-link:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
}

.team-link .link-logo {
  display: block;
  height: 20px;
  width: 20px;
  fill: #afb1b8;
}

/* CLIENTS */

.clients-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.clients-logo {
  display: flex;
  justify-content: center;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.clients-logo-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--hover-color);
}

.clients-img {
  fill: #afb1b8;
}

.clients-link:hover .clients-img,
.clients-link:focus .clients-img {
  fill: var(--hover-color);
}

/* FOOTER */

.footer-container {
  display: flex;
  align-items: baseline;
}

.address {
  font-style: inherit;
  margin-top: 20px;
}

.footer {
  background: #2f303a;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-color-footer {
  color: var(--white-color);
}

.footer-address {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.address-list .address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adds {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.social-list-container {
  margin-left: 70px;
}

.social-list {
  display: flex;
  margin-top: 20px;
}

.join {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--second-color);
}

.social-list-item-link:hover,
.social-list-item-link:focus {
  background-color: var(--hover-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

/* PORTFOLIO */

.portfolio-section {
  padding-bottom: 94px;
}

.btn-container {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.btn-list:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btns {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  background: #f5f4fa;
}

.portfolio-btns:hover,
.portfolio-btns:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  background-color: var(--hover-color);
}

.portfolio-catalog {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  background: var(--white-color);
  box-sizing: border-box;
  margin-bottom: 4px;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-project-name {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}
